<% if @user.errors.any? %>
  <ul class="alert alert-danger" role="alert">
    <h6 class="alert-heading">
      <%= @user.errors.count %> error occurred!
    </h6>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-11 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="InputName">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"InputName", class: "form-controll" %>
        </div>
        <div class="form-group">
          <label for="InputImage">Image</label><br>
          <%= f.file_field :profile_image, placeholder:"Image", accept: "image/*" %>
        </div>
        <div class="form-group">
          <label for="InputIntroduction">Introduction</label><br>
          <%= f.text_area :introduction, autofocus: true, id:"InputIntroduction" %>
        </div>

        <%= f.submit "Update User", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
