<% if @book.errors.any? %>
  <ul class="alert alert-danger" role="alert">
    <h6 class="alert-heading">
      <%= @book.errors.count %> error occurred!
    </h6>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-11 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <label for="InputTitle">Title</label><br>
          <%= f.text_field :title, autofocus: true, id:"InputTitle", style: "width:100%" %>
        </div>
        <div class="form-group">
          <label for="InputOpinion">Opinion</label><br>
          <%= f.text_area :body, autofocus: true, id:"InputOpinion", style: "width:100%" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update Book", class: "btn btn-success" %>
        </div>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>